body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background: var(--primary-color);
}

h1 {
    font-size: 5rem;
    font-weight: 400;
    color: var(--accent-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
    background: var(--primary-lighter-color);
    padding: 2rem 4rem;
    border: .2rem solid var(--accent-color);
    border-radius: .5rem;
}

form div.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

form div.row label {
    font-weight: 200;
    color: var(--accent-color);
}

form div.row input {
    background: inherit;
    color: var(--accent-color);
    padding: .2rem .4rem;
    border: 0;
    border-bottom: .1rem solid var(--accent-color);
    border-radius: 0;
    transition: all .3s ease;
}

form div.row input:focus {
    outline: none;
}

form button {
    width: 100%;
    background: var(--accent-color);
    padding: .5rem 1rem;
    border: 0;
    border-radius: .5rem;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    form {
        padding: 1rem 2rem;
    }

    form div.row {
        flex-direction: column;
        gap: .5rem;
    }

    form button {
        padding: .25rem .5rem;
    }
}



