header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    color: var(--accent-color);
    background: linear-gradient(var(--primary-color), var(--primary-lighter-color));
    padding: 0 2rem;
}

header .logo-image {
    width: 300px;
    margin-top: 10px;
  }

  @media only screen and (min-width: 1200px) {
    header .logo-image {
        max-width: 200px; /* Cambia la larghezza massima per schermi più grandi */
    }
}

/* Aggiungi regole per schermi più piccoli di 500px */
@media only screen and (max-width: 575px) {
    header .logo-image {
        max-width: 100px; /* Cambia la larghezza massima per schermi più piccoli */
    }
}
@media only screen and (max-width: 768px) {
    header .logo-image {
        max-width: 150px; /* Cambia la larghezza massima per schermi più piccoli */
    }
}
 header .searchContainer {
    width: 70%;
}

.pac-container {
    background-color: var(--accent-darker-color);
    width: 50% !important; 
  }
  


header button {
    appearance: none;
    background: transparent;
    border: 0;
    outline:0;
  }
  
header  svg .arrow {
    padding: 5px;
  }
  
 header .arrow {
    cursor: pointer;
    position: absolute;
    top: 0%;
    margin-top: 0px;
    right: 10px;
    width: 70px;
    height: 90px;
  }
  header .left {
    left: 82%;
  }
 header .right {
    left: 85%;

  }

  
.left:hover polyline,
.left:focus polyline {
  stroke-width: 3;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

  header .right:hover polyline,
  header .right:focus polyline {
  stroke-width: 3;
}

header .right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

header polyline {
  transition: all 250ms ease-in-out;
}


header button.logout-btn {
    color: var(--accent-color);
    background: transparent;
    padding: .5rem 1rem;
    border: .1rem solid var(--accent-color);
    border-radius: .5rem;
    transition: all .5s ease;
}
/*
header button.logoutIcon {
    display: flex;
}*/


header button.logout-btn:hover {
    color: var(--primary-lighter-color);
    background: var(--accent-color);
    border-radius: 5px;
    box-shadow: 0 0 5px #ffffff,
                0 0 25px #bdbbbb,
                0 0 50px #8d8d8d,
                0 0 100px #000000;
}

header button.logout-btn:active {
    color: var(--primary-lighter-color);
    background: var(--accent-darker-color);
}


nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 10vh;
    color: var(--accent-color);
    background: linear-gradient(var(--primary-lighter-color), #363636);
}

nav div.group {
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

nav div.group label {
    
    color: var(--accent-color);
}

nav div.group select {
    
    color: var(--accent-color);
    background: transparent;
    padding: .5rem 1rem;
    border: 0;
    border-bottom: .1rem solid var(--accent-color);
}

nav div.group select:focus {
    outline: none;
}

nav div.group select option {
    background: var(--primary-color);
}

nav button.btnAggiungi {
    color: var(--accent-color);
    background: transparent;
    padding: .5rem 1rem;
    border: .1rem solid var(--accent-color);
    border-radius: .5rem;
    transition: all .5s ease;
}

nav .addPoint{
    width: 400px;
}

/* The switch - the box around the slider */
nav .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
nav  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
 nav .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 2px solid #414141;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
 nav .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: white;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
 nav .switch input:checked + .slider {
    box-shadow: 0 0 20px rgba(166, 169, 172, 0.8);
    border: 2px solid var(--accent-color);
  }
  
 nav .switch input:checked + .slider:before {
    transform: translateX(1.5em);
  }


section.map-container,
section.streetview-container {
    position: relative;
    width: 100%;
    background: linear-gradient(#363636, #616161);
}

section.map-container button#info-btn {
    position: absolute;
    top: 100px;
    left: 0;
    margin: 10px;
    z-index: 99;
}
section.map-container button#help-btn {
    position: absolute;
    top: 100px;
    left: 50px;
    margin: 10px;
    z-index: 99;
}

section.map-container button#download-btn {
    position: absolute;
    top: 100px;
    left: 100px;
    margin: 10px;
    z-index: 99;
}
section.map-container button#edit-btn {
    position: absolute;
    margin: 10px;
    z-index: 99;
    display: inline-block;
    width: 10% !important;

}
section.map-container div#info {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    color: var(--accent-color);
    background: rgba(0, 0, 0, .95);
    padding: 3rem 6rem;
    z-index: 100;
    overflow: auto;
}

section.map-container div#info button.close-popup {
    position: absolute;
    top: 0;
    right: 0;
}

section.map-container div#info div.row {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
}

section.map-container div#info div.row h1.row-heading {
    font-size: 2rem;
    color: var(--accent-color);
    text-align: center;
}

section.map-container div#info div.row div.row-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section.map-container div#info div.row div.row-content div.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

section.map-container div#info div.row div.row-content div.group h1,
section.map-container div#info div.row div.row-content div.group h2 {
    color: var(--accent-darker-color);
}

section.map-container div#info div.row div.row-content div.group h1 {
    border-bottom: .1rem solid var(--accent-darker-color);
}

section.map-container div#map {
    width: 100%;
    height: 80vh;
}

div.gm-style-iw {
    max-width: 90vw !important;
}

section.map-container div#map button.base-btn {
    display: block;
    width: 100%;
    padding: .1rem .5rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
}

section.map-container div#map div.containerButtonInfoWindow {
    width: 100%;
    display: flex; /* Utilizza il flexbox per disporre i bottoni */
    justify-content: space-between;
    position: sticky;
    bottom: 0; /* Posiziona i bottoni in fondo al contenitore */
    background-color: #fff; /* Colore di sfondo */
    padding: 10px; /* Spazio interno */
    border-top: 1px solid #ddd; /* Linea di separazione */
    z-index: 1000; /* Assicurati che sia sopra altri elementi */
}
section.map-container div#map button.street-view,
section.map-container div#map button.navigate-point {
    width: 48%; /* Larghezza del 48% per ciascun pulsante */
    background: linear-gradient(var(--accent-color), var(--accent-darker-color));
}
section.map-container div#map button.operation-button{
    width: 48%;
    background: linear-gradient(#adff2f, 	#179a17);
}
section.map-container div#map button.report-point{
    width: 48%;
    background: linear-gradient(#f37c50, #ff0000);
}


section.map-container div#map button.delete-point {
    background: tomato;
}

section.map-container div#map form#new-pin-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: .5rem;
}

section.map-container div#map form#new-pin-form textarea {
    resize: none;
    color: var(--primary-color);
    outline: none;
    border: 0;
    border-bottom: .1rem solid var(--primary-color);
}

section.map-container div#map form#new-pin-form button {
    color: var(--accent-color);
    background: var(--primary-lighter-color);
    padding: .25rem .5rem;
    border: .1rem solid var(--primary-color);
    border-radius: .5rem;
}

section.map-container div#map form#new-pin-form button:active {
    background: var(--primary-color);
}

section.streetview-container {
    position: relative;
}
section.map-container button#my_location {
    position: absolute;
    top: 53%; 
    right: 0; 
    margin: 10px;
    z-index: 1; 
    background: white; 
    border: none;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

section.map-container button#my_location:hover {
    background-color: #ebebeb;
}



section.streetview-container button#streetview-close-btn {
    position: absolute;
    top: 66px;
    left: 0;
    margin: 10px;
    z-index: 99;

}

section.streetview-container div#streetview {
    width: 100%;
    height: 80vh;
}

@media only screen and (max-width: 1400px) {
    section.map-container div#info {
        padding: 1.5rem 3rem;
    }

    section.map-container div#info div.row div.row-content {
        gap: 2rem;
    }
    section.map-container button#my_location {
        top: 53%
    }
}
@media only screen and (min-width: 1400px) {
    section.map-container div#info {
        padding: 1.5rem 3rem;
    }

    section.map-container div#info div.row div.row-content {
        gap: 2rem;
    }
    section.map-container button#my_location {
        top: 60%
    }
}
@media only screen and (max-width: 1100px) {
    section.map-container div#info {
        padding: 1.5rem 3rem;
    }

    section.map-container div#info div.row div.row-content {
        gap: 2rem;
    }
    section.map-container button#my_location {
        top: 53%
    }
}

@media only screen and (max-width: 900px) {
    header h1 {
        font-size: 1.2rem;
    }

    header form#search-bar {
        height: 1.5rem;
    }

    header form#search-bar input {
        font-size: .8rem;
    }

    header form#search-bar button {
        padding: 0 .5rem;
    }

    header button.logout-btn {
        padding: .25rem .5rem;
    }

    nav div.group label {
        font-size: .8rem;
    }

    nav div.group select {
        font-size: .8rem;
        padding: .25rem .5rem;
    }

    section.map-container div#info div.row:not(:first-of-type) h1.row-heading {
        margin-top: 3rem;
    }

    section.map-container div#info div.row div.row-content {
        flex-wrap: wrap;
    }
    section.map-container button#my_location {
        top: 51%
    }
}

@media only screen and (max-width: 575px) {
    header {
        position: relative;
        justify-content: center;
        gap: .25rem;
        padding: .5rem 1rem;
    }

    header form#search-bar {
        align-self: flex-start;
    }

    header button.logout-btn {
        position: static; /* Togli la posizione assoluta */
        display: block; /* Mostra il bottone come blocco */
        margin-top: 1rem; /* Aggiungi margine sopra il bottone */
        margin-bottom: 1rem;
        text-align: center;
    }
    header .logo-image{
        width: 0px;
    }

    nav {
        gap: .25rem;
        height:fit-content;
    }
    header .icon{
        width: 0px;
    }
    
}

@media only screen and (max-width: 400px) {
    header h1 {
        align-self: flex-start;
    }

    header form#search-bar {
        align-self: center;
        width: 100%;
    }
    
    header button.logout-btn {
        top: .5rem;
        bottom: auto;
    }

    section.map-container div#info div.row h1.row-heading {
        font-size: 1.5rem;
    }

    section.map-container div#info div.row div.row-content div.group h1,
    section.map-container div#info div.row div.row-content div.group h2 {
        font-size: 1.25rem;
    }
    section.map-container div#map {
        width: 100%;
        height: 74.9vh ;
    }
    nav {
        gap: .25rem;
        height:fit-content;
    }
    section.map-container button#my_location {
        top: 51%
    }

}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #121212;
}


.cabinet-tag {
    /* background-color: var(--background-color); */
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
    z-index: 100;
  }
  
  .cabinet-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid black;
  }
  

  .tooltip-content {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    z-index: 1;
  }
  
  /* Posizionamento del tooltip sopra il pulsante */
  .tooltip-container {
    position: relative;
  }
  
  .tooltip-container:hover .tooltip-content {
    display: block;
  }

/* Stile per il contenitore principale */
.list-container {
    margin: 0;
    padding: 0;
    list-style-type: none; /* Rimuove i punti elenco */
}

/* Stile per gli elementi della lista */
.list-item {
    padding: 5px 10px; /* Spazio interno degli elementi */
    border-bottom: 1px solid #ddd; /* Linea di separazione tra gli elementi */
    font-size: 14px; /* Dimensione del testo */
    color: #333; /* Colore del testo */
}

/* Stile per l'ultimo elemento della lista */
.list-item:last-child {
    border-bottom: none; /* Rimuove la linea di separazione dall'ultimo elemento */
}

.dummy-positioning {
    width: 100%;
    height: 25vh;
    align-items: center;
    justify-content: center;
  }
  
  .success-icon {
    display: inline-block;
    width: 8em;
    height: 8em;
    font-size: 20px; /* $icon-base-size converted to its value */
    border-radius: 50%;
    border: 4px solid #66d04f; /* lighten($green, 20%) converted to its value */
    background-color: #fff;
    position: relative;
    overflow: hidden;
    transform-origin: center;
    animation: showSuccess 180ms ease-in-out;
    transform: scale(1);
  }
  
  .success-icon__tip,
  .success-icon__long {
    display: block;
    position: absolute;
    height: 4px;
    background-color: #66d04f; /* lighten($green, 20%) converted to its value */
    border-radius: 10px;
  }
  
  .success-icon__tip {
    width: 2.4em;
    top: 4.3em;
    left: 1.4em;
    transform: rotate(45deg);
    animation: tipInPlace 300ms ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 180ms;
    visibility: hidden;
  }
  
  .success-icon__long {
    width: 4em;
    transform: rotate(-45deg);
    top: 3.70em;
    left: 2.75em;
    animation: longInPlace 140ms ease-in-out;
    animation-fill-mode: forwards;
    visibility: hidden;
    animation-delay: 300ms + 140ms;
  }
  
  @keyframes showSuccess {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  
  @keyframes tipInPlace {
    from {
      width: 0em;
      top: 0em;
      left: -1.6em;
    }
    to {
      width: 2.4em;
      top: 4.3em;
      left: 1.4em;
      visibility: visible;
    }
  }
  
  @keyframes longInPlace {
    from {
      width: 0em;
      top: 5.1em;
      left: 3.2em;
    }
    to {
      width: 4em;
      top: 3.70em;
      left: 2.75em;
      visibility: visible;
    }
  }
  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


  
.loader {
    display: flex;
    justify-content: space-between;
    width: 100px;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    animation: fade 1s infinite;
  }
  
  .circle:nth-child(1) { animation-delay: 0.2s; }
  .circle:nth-child(2) { animation-delay: 0.4s; }
  .circle:nth-child(3) { animation-delay: 0.6s; }
  
  @keyframes fade {
    0%, 20%, 100% { opacity: 0.2; }
    50% { opacity: 1; }
  }

  .suggestions-box {
    background-color: #ffffff00;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: calc(100% - 40px); /* Stessa larghezza dell'input */
    z-index: 1000;
    display: none; /* Inizialmente nascosto */
}

.suggestions-box div {
    padding: 10px;
    cursor: pointer;
}

.suggestions-box div:hover {
    background-color: #f0f0f0;
}
